* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("../assets/fonts/Overpass/Overpass-VariableFont_wght.ttf") format("woff2");
}

:root {
  /* Primary Colors */
  --Orange500: rgb(251, 116, 19);
  /* Neutral Colors */
  --White: rgb(255, 255, 255);
  --Grey500: rgb(149, 158, 172);
  --Grey600: rgb(54, 60, 69);
  --Grey900: rgb(37, 45, 55);
  --Grey950: rgb(18, 20, 23);
  /* Font */
  --Overpass: "Overpass";
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--Overpass);
  font-size: 1.6rem;
  background-color: var(--Grey950);
}

/* Containers */
.container-one, .container-two {
  width: 100%;
  max-width: 320px;
  padding: 24px;
  border-radius: 16px;
  margin: 95px auto;
  background-color: var(--Grey900);
}

/* Container-two display */
.container-two {
  display: none;
  flex-direction: column;
  align-items: center;
}

/* Icon container & Buttons */
.icon-container, .number-rate {
  display: grid;
  place-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  margin-bottom: 22px;
  font-weight: 700;
  background-color: var(--Grey600);
  color: var(--Grey500);
}

.rate-container {
  display: flex;
  justify-content: space-between;
}

.number-rate:hover {
  background-color: var(--Grey500);
  color: var(--White);
  cursor: pointer;
}

.number-rate:focus {
  background-color: var(--Orange500);
  color: var(--White);
}

.complete-form {
  width: 100%;
  height: 44px;
  border: none;
  border-radius: 50px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: var(--Orange500);
  color: var(--White);
}

.complete-form:hover {
  background-color: var(--White);
  color: var(--Orange500);
  cursor: pointer;
}

/* Titles */
.title, .subtitle {
  margin-bottom: 22px;
  font-size: 1.6em;
  font-weight: 700;
  color: var(--White);
}

/* Paragraphs from first & second container */
.explain-text, .resolution-text {
  margin-bottom: 30px;
  font-size: 0.9em;
  letter-spacing: -0.5px;
  line-height: 23px;
  color: var(--Grey500);
}

.resolution-text {
  text-align: center;
}

.result-rate {
  width: 175px;
  height: 30px;
  padding: 7px 0;
  border-radius: 50px;
  margin-bottom: 20px;
  font-size: 0.9em;
  text-align: center;
  background-color: var(--Grey600);
  color: var(--Orange500);
}

/* Image */
.img-container {
  width: 150px;
  margin-bottom: 24px;
}

/*----------------- DESKTOP ----------------*/
@media (min-width: 600px) {
  .container-one, .container-two {
    min-width: 400px;
    padding: 34px;
  }

  .icon-container, .number-rate {
    width: 50px;
    height: 50px;
  }

  .title, .subtitle {
    font-size: 1.9em;
  }

  .explain-text, .resolution-text {
    font-size: 1em;
  }

  .result-rate {
    width: 196px;
    font-size: 1em;
  }
}